
.advertisement
{
	width:100px;
    height:150px; 
    border-color:black;
    border-width:2px; 
    background-color:gray; 
    color:#1b1b1b;
	position: absolute;
	top: 1%;
    margin-right: 10px;
}	

.header{
    display: flex;
    align-items: center; 
    margin-left: 10%;

}

.logo{
	display: flex;
}

.title{
	margin-left: 10px;
}

.content{
	width: 70%;
	display: inline-block;
	margin-top: 15px;
	margin-left: 11%;
	text-wrap: wrap;

}

#image{
	width: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	float: left;
}

.main{
	margin-top: 20px;
}

.head{
	width: 70%;
	margin-top: 5%;
	margin-left: 10%;
	justify-items: center;
}